@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body 
{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: #111111;
    font-family: "Poppins", sans-serif;
}
img 
{
    display: block;
    margin: 0px auto;
}
*
{
    box-sizing: border-box;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}
h1
{
    margin: 0;
    color: #ffff;
}
ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
a
{
    text-decoration: none;
}
section.main 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 70vh;
    animation: fadeInUp .8s;
}

section.main img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    object-fit: cover;
    border: 10px solid #21222b93;
    cursor: pointer;
    margin-bottom: 10px;
}

section.main span {
    color: #fffffe;
    font-size: 30px;
    font-weight: bold;
}

section.main p {
    position: relative;
    top: 50%;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    color: #94a1b2;
    font-size: 13px;
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 530ms steps(44) infinite normal;
}

section.main h3 
{
    position: relative;
    top: 50%;
    border-right: 2px solid rgba(255, 255, 255, .75);
    white-space: nowrap;
    overflow: hidden;
    color: #94a1b2;
    font-size: 16px;
    animation: typewriter2 5s steps(44) 1s 1 normal both, blinkTextCursor 530ms steps(44) infinite normal;
}

section.main ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section.main ul li a {
    color: #a6a8b8;
    display: flex;
    text-decoration: none;
    margin: 20px 5px;
    font-size: 25px;
    padding: 5px;
    transition: 0.2s all;
}

section.main ul li a:hover {
    transition: 0.2s all;
    color: #fff;
}
section.main h3
{
    color: #94a1b2;

}

section.banner img
{
    width: 30%;
    height: 20%;
    object-fit: cover;
    border: 10px solid #21222b93;
    cursor: pointer;
}
@keyframes typewriter 
{
    from {
        width: 0;
    }
    to {
        width: 20.5em;
    }
}

@keyframes typewriter2
{
    from {
        width: 0;
    }
    to {
        width: 38.5em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 150px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, -150px, 0)
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}
